@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
$roboto: 'Roboto', sans-serif;

.homepageContainer {
    background: linear-gradient(-60deg, #000B97, #3E005F);

    .loginHeader {
        padding: 2% 0;
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
        a {
            padding: 0 2%;
            text-decoration: none;
            font-weight: bold;
            font-family: $roboto;
            color: #FFA6A6;
        }
    } 
}

.searchBar {
    padding: 2% 0 0 0;
    display: flex;
    justify-content: center;

    @media(min-width: 320px) and (max-width: 480px) {
        display: block;
    }

    .ogInput {
        border: none;
        padding: 3%;
        width: 350px;
        border-radius: 5px 0 0 5px;
        font-family: $roboto;
        font-size: 1em;
        @media(min-width: 320px) and (max-width: 480px) {
            padding: 1%;
            border-radius: 5px;
        }
        &:focus {
            outline: none;
        }
    }

    .ogInputDiv {
        position: relative;
        &:after {
            content: '';
            top: 8px;
            position: absolute;
            right: 0;
            width: 1px;
            height: 20px;
            background-color: #ccc;
        }
    }

    button {
        background: none;
        border: none;
        color: white;
        background: #3E005F;
        border-radius: 0 5px 5px 0;
        padding: 0 2%;
        cursor: pointer;
        @media(min-width: 320px) and (max-width: 480px) {
            border-radius: 5px;
            width: 50%;
        }
    }
}

.search-location-input {
    margin-left: 3%;
    @media(min-width: 320px) and (max-width: 480px) {
        margin-left: 0;
    }
    input {
        height: 95%;
        border: none;
        width: 250px;
        font-family: $roboto;
        font-size: 1em;
        @media(min-width: 320px) and (max-width: 480px) {
            width: 93%;
            padding: 1%;
            border-radius: 5px;
            margin: 2% 0;
        }
    &:focus {
        outline: none;
    }
}
}

.bubbleText {
    padding: 1% 0;
    font-size: 1.2em;
    font-family: $roboto;
    color: #FFA6A6;
}

html, body {
    margin: 0;
    padding: 0;
}

.backgroundVector {
    overflow-x: hidden;
    position: relative;
}

.recommendedBoxes {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media(min-width: 320px) and (max-width: 480px) {
        display: block;
        margin: 0 3%;
        position: relative;
        height: 100vh;
    }
    .rBox {
        width: 350px;
        padding: 2% 0;
        background: white;
        border-radius: 10px;
        box-shadow: 2px 2px 4px 0 darken(#ccc, 20%);
        @media(min-width: 320px) and (max-width: 480px) {
            margin: 5% 0;
            height: 30%;
        }
        h2 {
            font-family: $roboto;
            text-align: left;
            margin: 2% 5%;
            @media(min-width: 320px) and (max-width: 480px) {
                font-size: 1em;
            }
        }

        img {
            max-width: 90%;
            max-height: 200px;
            margin: 5%;
            box-shadow: 2px 2px 4px 0 #000;
            @media(min-width: 320px) and (max-width: 480px) {
                max-height: 50%;
            }
        }
    }
}


.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #fff;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0 5% 2% 5%;
    position: relative;
    padding: 0;
    
    &-top {
      color: gold;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    &-bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }
  }

  .rating {
      display: flex;
      align-items: center;

      p {
          margin: 0;
          font-family: $roboto;
      }
  }

  .popularDiv {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    .popularText {
        padding-top: 5%;
        color: #FFA6A6;
        font-family: $roboto;
    }
  }